@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-centered {
    @apply flex justify-center items-center;
  }
  .grid-col-custom {
    grid-template-columns: auto repeat(2, minmax(0, 1fr));
  }

  /* navbar */
  .navbar {
    @apply fixed top-0 border-b-2 border-yellow-500 bg-blue-950 dark:border-blue-100
       text-blue-50 flex-centered font-semibold 
      p-3  text-2xl dark:bg-black  w-full z-20 lg:text-3xl xl:text-4xl;
  }
  .sidebar-open-btn {
    @apply absolute transform -translate-y-1/2  cursor-pointer hover:text-white hover:scale-110 transition-all
     dark:hover:text-white  left-2 md:hidden text-3xl top-1/2 animate-pulse;
  }
  /* navba end */

  /*sidebar */

  .sidebar {
    @apply fixed md:static h-full text-lg lg:text-xl xl:text-2xl md:min-h-screen bg-blue-950 dark:bg-gray-900 dark:text-gray-50  md:left-0 
      p-2 rounded-r text-gray-50 top-0 transition-all w-52 xl:w-auto z-10 shadow-2xl;
  }
  .submenu-close-btn {
    @apply md:hidden cursor-pointer hover:scale-110 hover:text-white text-4xl transform transition;
  }
  .menu-item {
    @apply dark:hover:bg-blue-500 hover:bg-yellow-600 transform transition-all  w-48 xl:w-56 2xl:w-64;
  }
  .menu-heading {
    @apply dark:text-blue-300 flex-centered justify-between text-xl text-yellow-400
    font-sans font-semibold md:hidden;
  }

  /* utility classes */
  .grid-container {
    @apply grid-col-custom md:gap-3 md:grid min-h-screen xl:grid-cols-5;
  }
  .page-container {
    @apply col-span-full dark:text-gray-50 flex-centered flex-col md:col-start-2 mt-14 p-6 pt-16 
      space-y-6 text-gray-900 text-xl;
  }
  .page-heading {
    @apply border-b-2 border-gray-800 dark:border-red-50 dark:text-yellow-300 font-josefin 
        text-3xl lg:text-4xl xl:text-5xl tracking-wide font-black;
  }
  .my-image {
    @apply dark:border-gray-400 mx-auto rounded-xl shadow-xl w-2/3 md:w-72;
  }

  .card {
    @apply bg-gray-50 my-2 dark:bg-gray-900 dark:text-gray-100 p-2 px-4 rounded-lg
    shadow-lg text-gray-800  transform transition-transform cursor-pointer;
  }
  .card-header {
    @apply flex-centered text-lg lg:text-xl xl:text-2xl  font-black font-raleway justify-between 
    leading-relaxed mb-1.5 tracking-wide uppercase;
  }

  .card-toggle-btn {
    @apply dark:text-yellow-300 text-2xl text-blue-950 hover:text-blue-800 dark:hover:text-yellow-400 
              transition-all cursor-pointer transform hover:rotate-180;
  }

  .tooltip {
    @apply fixed transform  left-1/2 bottom-4 -translate-x-1/2 animate-tooltip bg-indigo-300  dark:bg-indigo-300 
    dark:text-indigo-800  font-raleway font-semibold  my-5 p-2 px-3  rounded-lg sm:max-w-max text-indigo-800 
    text-lg  max-w-xs md:w-max z-30 text-center;
  }
}

@layer utilities {
  .animate-tooltip {
    animation: tooltip-rise 6s ease-in-out 1;
    transform: translateX(-50%);
  }
  @keyframes tooltip-rise {
    0%,
    100% {
      bottom: -3rem;

      opacity: 0;
    }
    25% {
      opacity: 1;
      bottom: 2rem;
    }

    50% {
      opacity: 1;
      bottom: 2rem;
    }
    75% {
      bottom: 2rem;
      opacity: 1;
    }
  }
}
